body{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 15px;
  background-color: #DDDDDD;
  text-align: center;
  margin: 15%;
}
nav p{
  grid-column: 1;
  grid-row: 1;
  margin: 5px;
  padding: 5px;
}
nav h4{
  grid-column: 2;
  grid-row: 1;
  background: black;
  margin: 5px;
  padding: 10px;
}
a{
  color: #75c0e0;
}
nav{
  background: black;
}
a:hover{
 color: aqua;
}
header{
  background: black;
  color: white;
}
.general{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 9px;
  padding: 9px;
  border: 2px solid black;
}
.invias{
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 9px;
  padding: 9px;
  border: 2px solid black;
}

.cadenero{
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 9px;
  padding: 9px;
  border: 2px solid black;
}
.otros{
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 9px;
  padding: 9px;
  border: 2px solid black;
}
.contratos{
  border: 2px solid black;
}
.Udea{
  border: 2px solid black;
}
.carpetas{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  display: block;
  background-color: black;
  color: white;
  margin: 9px;
  padding: 9px;
  border: 2px solid black;
}
.informe{
  grid-row: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;
  color: white;
  margin: 9px;
  padding: 9px;
  border: 2px solid black;
}
footer{
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 9px;
  padding: 9px;
  border: 2px solid black;
}
